:host {
  background-color: #e2b007;
  width: 100%;
  display: flex;
  justify-content: center;
}
.img-wrapper {
  position: absolute;
  padding: 10%;
}
.logo {
  background-color: #e2b007;
  width: 100%;
}
