:host {
  display: flex;
  justify-content: flex-start;
}

.img-wrapper {
  position: absolute;
  left: 0%;
  top: 5%;
  background-color: #e2b007;
  border-bottom-right-radius: 10%;
  width: 20%;
  z-index: 3;
}

.logo {
  width: 92%;
}
