:host {
  width: 100%;
  height: 100%;
  display: flex;
}

.welcome-header {
  font-size: 3.5vh;
  padding: 1vh 1vw 1vh 0;
  font-weight: 500;
}

.serene {
  height: 4.7vh;
  transform: translateY(2vh);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  width: 100%;
  height: 50vh;
  margin-top: 2vh;
}
