:host {
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: 7%;
}

.serene {
  height: 4.7vh;
  transform: translateY(2vh);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  width: 100%;
  height: 50vh;
  margin-top: 2vh;
}