<div class="wrapper">
    <div class="header">
        <div class="header">
            Welcome to your Beauty Studio: Hair, Nails, Make-Up, Eyelashes, Manicure, Pedicure and much more <br>
            @ Serene Beauty Lounge in Addis Ababa Semit
        </div>
    </div>

    <div class="intro-text"></div>

    <div class="welcome-imgs">
        <img class="portrait" src="
        https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/Studio5.jpg?alt=media&token=94e9841a-dd51-40b8-927e-469a5923feee
        ">
        <img class="portrait" src="
        https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/reception-4.jpg?alt=media&token=fed9031c-de05-48fe-9d6d-bd9b9f11d5af
        ">
    </div>
    <div class="text">
        <h3>Your beauty is our passion! </h3>
        <br>
        We offer best care for your nails, eyelashes, make-up, hair, special skin
        treatments, manicure, pedicure and waing.
        <br>
        Come and find our modern equipped studio in Addis Ababa Semit.
        <br>
        we want to make you feel most comfortable


        <br>
        book your personal treatment now:
        <br>
        <div class="footer-item"><a href="tel:+251967444718"><i class="fa fa-phone" style="color: black;"> </i>Call us:
                +251 967 44 47 18</a></div>
    </div>
</div>