<div class="wrapper">
    <div class="header">
        <div class="header">
            Welcome to
            <!-- <img
                class="serene"
                src="../assets/serene-text-only.svg"
            >
            <br> -->
            your new skincare and beauty studio in Addis Ababa
        </div>
    </div>
    <img
        [style.width]="'100%'"
        src="https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/reception-4.jpg?alt=media&token=fed9031c-de05-48fe-9d6d-bd9b9f11d5af"
    >

    <!-- <iframe
        class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15762.220303506498!2d38.837870263879424!3d9.013074669061972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b9b07d554bb09%3A0xe7a6bcba6703f4e4!2sSerene%20Skin%20Lounge!5e0!3m2!1sde!2sde!4v1622330809247!5m2!1sde!2sde"
        style="border:0;"
        allowfullscreen
        loading="lazy"
    ></iframe> -->
    <div class="text">
        Your skin health is our passion.
        <br>
        With professional knowledge and experience,
        <br>
        with dermatological products from Germany and
        <br>
        with modern skin treat equiment
        we want to make you feel most comfortable,
        because
        <img
            [style.width]="'100%'"
            src="https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/beautiful.jpg?alt=media&token=6b6f26d7-6cfc-44c8-9a90-0f506e5f38fc"
        >
        <br>
        book your personal treatment now:
        <br>
        call +251 967 44 47 18
    </div>
</div>
