:host {
  background-color: #f1d883;
  border-radius: 10px;
  overflow: overlay;
  padding: 2vh 16vw;
  display: flex;
  justify-content: center;

  @media (max-width: 800px) {
    padding: 1vh 8vw;
  }
}
