<div class="header">Our beautiful studio</div>
<img
    class="portrait"
    src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/cabin-1.jpg?alt=media&token=1152f4c2-66c2-4042-83b2-521cbf228bb6
    "
>
<img
    class="portrait"
    src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/cabin-2.jpg?alt=media&token=2422947b-d69a-4317-9362-cb91aff44b0c
    "
>
<img
    class="portrait"
    src="
    https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/reception-1.jpg?alt=media&token=7ec74ec3-fe05-4e24-9596-2d1186bce406
        "
>
<img
    class="portrait"
    src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/reception-2.jpg?alt=media&token=b4071e53-77db-40d4-b01d-1bb9f44d6dd2
    "
>
<img
    class="portrait"
    src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/reception-3.jpg?alt=media&token=4ae5e04f-6aca-4cfc-81d0-ccd6b22d3e2e
    "
>
<img
    class="portrait"
    src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/reception-5.jpg?alt=media&token=d57e29cc-d76f-4e29-bf9b-53f8e5300a35
    "
>
<img
    class="portrait"
    src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/reception-6.jpg?alt=media&token=ff8889ae-5e51-4a17-8489-eb2e8555ce44
    "
>
<img
    class="portrait"
    src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/opening-2.jpg?alt=media&token=36ec61fb-b8eb-42d7-84b8-44d004d2a58e
    "
>
<img
    class="portrait"
    src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/opening-4.jpg?alt=media&token=0f66123e-5474-4fc2-b38c-27bf75912c9d
    "
>
<img
    class="landscape"
    src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/waiting-1.jpg?alt=media&token=88d19d41-c4cc-4f10-b1b8-89b9168cdf2d
    "
>
