:host {
  background-color: #e2b007;
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  background-color: #e2b007;
  width: 80%;
}

.sidebar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: 10%;
}

app-intro {
  width: 22%;
  position: relative;
}
app-menu {
  width: 75%;
  position: relative;
}

app-content {
  height: 87%;
  margin: 0 1%;
}
