<!-- <img
    class="logo"
    src="../assets/serene.svg"
> -->
<div class="sidebar">
    <app-intro (fadeInContent)="onFadeInContent()"></app-intro>
    <app-menu [@intro]="isStart ? 'start' : 'end'"></app-menu>
</div>

<app-content [@intro]="isStart ? 'start' : 'end'"></app-content>
<div class="footer"> 
    <div class="footer-item"><a href="https://www.facebook.com/sereneskinlounge/">Follow Us On Facebook<i class="fa fa-facebook-f" style="color: #3b5998;"></i></a></div>
    <div class="footer-item"><a href="https://www.instagram.com/serene_skin_lounge_addisabeba">Follow Us On Instagram<i class="fa fa-instagram" style="color: black;"> </i></a></div>
    <div class="footer-item"><a href="tel:+251967444718"><i class="fa fa-phone" style="color: black;"> </i>Call us: +251 967 44 47 18</a></div>
</div>