:host {
  background-color: #e2b007;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  height: 98vh
}

.logo {
  background-color: #e2b007;
  width: 80%;
}

.sidebar {
  width: 35%;
  margin: 1%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

app-intro {
  width: 100%;
  position: relative;
}

app-content {
  width: 61%;
  margin: 1%;
}
