<div class="header">Our services:</div>

<img src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/outside2.png?alt=media&token=790dc441-3079-4f72-ba6e-841c368e4905"
    [style.width]="'100%'">

<div *ngFor="let service of services">
    <div class="service-item">
        <img class="service-icon" src="../../favicon.ico">
        <p class="service text">{{ service }}</p>
    </div>
</div>
<img class="portrait" src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/Nails1.jpg?alt=media&token=0c26456b-673e-48d4-94df-f8ce657b8ec4
">
<img class="portrait" src=
"https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/Nails2.jpg?alt=media&token=f7dd8283-f263-4b22-8324-39541278a400
">
<img class="portrait" src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/Nails3.jpg?alt=media&token=18f6b9e3-206b-4f9f-976f-8c6870765ef7
">
<img class="portrait" src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/Nails4.jpg?alt=media&token=e000d815-0c95-4f48-b02a-c16ff574c028
">
<img class="portrait" src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/Nails5.jpg?alt=media&token=ec888c6e-21eb-4a6e-90d2-5d6a0ee4ebe2
">
<img class="portrait" src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/Nails6.jpg?alt=media&token=3bec6839-1c33-414f-9255-b49592a346bd
">
<img class="portrait" src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/Nails7.jpg?alt=media&token=38841b52-104b-4c3b-aa36-4f78ff0adf2a
">
<img class="portrait" src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/Nails8.jpg?alt=media&token=953f6c1a-884f-4685-a4f4-0853e752849f
">
<img class="portrait" src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/Makeup1.jpg?alt=media&token=e68cfc8d-ab08-4117-8154-4f70bcf556d9
">
<img class="portrait" src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/Hair1.jpg?alt=media&token=ed3af2bf-8e9c-452b-be78-24d384e1b92f
">
<img class="portrait" src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/Hair2.jpg?alt=media&token=11cee16c-bd87-4ad9-a506-a40fd9db901c
">
<img class="portrait" src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/Hair3.jpg?alt=media&token=cd4d89c6-701f-4769-8084-eec6e39984e0
">
<img class="portrait" src="
https://firebasestorage.googleapis.com/v0/b/serene-eedb7.appspot.com/o/Hair4.jpg?alt=media&token=1d3f60e4-5a07-46c4-968c-083e107090e0
">